{% extends "base.html" %}

{% block title %}
OSRIC DnD - Create a Hero
{% endblock %}

{% block content %}
    <h1>Create a Hero</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <article>
            <p>
                Type in a Hero's name here: {{ form.name }}
            </p>
            <p>
                Strength: {{ form.str }}</br>
                Dexterity: {{ form.dxt }}</br>
                Wisdom: {{ form.wis }}</br>
                Intellect: {{ form.int }}</br>
                Charisma: {{ form.cha }}</br>
                Constitution: {{ form.con }}</br>
            </p>
            <p>
                Class: {{ form.cclass }}</br>
                Alignment: {{ form.align }}</br>
                Race: {{ form.race }}</br>
                XP: {{ form.xp }}</br>
                HP: {{ form.hp }}</br>
                AC: {{ form.ac }}</br>
                Height: {{ form.height }}</br>
                Weight {{ form.weight }}</br>
                Sex: {{ form.sex }}</br>
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </article>
    </form>
{% endblock %}