{% extends "base.html" %}

{% block title %}
OSRIC DnD - Create a Hero
{% endblock %}

{% block content %}
    <h1>Create a Hero</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <article>
            <div class="row">
                <div class="column2">
                    <h4>Hero Name:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Strength:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.str }}</p>
                </div>
                <div class="column2">
                    <h4>Dexterity:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.dxt }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Wisdom:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.wis }}</p>
                </div>
                <div class="column2">
                    <h4>Intellect:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.int }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Charisma:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.cha }}</p>
                </div>
                <div class="column2">
                    <h4>Constitution:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.con }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Class:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.cclass }}</p>
                </div>
                <div class="column2">
                    <h4>Alignment:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.align }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Race:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.race }}</p>
                </div>
                <div class="column2">
                    <h4>XP:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.xp }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>HP:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.hp }}</p>
                </div>
                <div class="column2">
                    <h4>AC:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.ac }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Height:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.height }}</p>
                </div>
                <div class="column2">
                    <h4>Weight:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.weight }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <h4>Sex:</h4>
                </div>
                <div class="column2">
                    <p>{{ form.sex }}</p>
                </div>
            </div>
            <p>
                {{ form.submit() }}
            </p>
        </article>
    </form>
{% endblock %}