{% extends "base.html" %}

{% block title %}
OSRIC DnD - Edit a Hero
{% endblock %}

{% block content %}
    <h1>Edit a Hero</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <div class="row">
            <div class="column">
                <h4>Select Hero: </h4>
                <p>{{ form.hero_id }}</p>
                <p>{{ form.display_hero() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>Attribute:</h4>
            </div>
            <div class="column">
                <h4>Current Value:</h4>
            </div>
            <div class="column">
                <h4>Edit Value:</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.hero_name.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.name }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.hero_name }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.strength.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.strength }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.strength }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.dexterity.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.dexterity }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.dexterity }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.wisdom.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.wisdom }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.wisdom }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.constitution.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.constitution }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.constitution }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.intellect.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.intellect }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.intellect }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>{{ form.charisma.label }}</h4>
            </div>
            <div class="column">
                <h4>{{ hero_data.charisma }}</h4>
            </div>
            <div class="column">
                <h4>{{ form.charisma }}</h4>
            </div>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}